@import "../../../../styles/settings/_settings";

.smallStoryCard{
    vertical-align: top;
    // margin-bottom: 1rem;
    @include grid(48px) {
        grid-template-columns: 8fr 4fr;
        @media (min-width: breakpoint(tablet)) {
            gap: 10px;
            img{
                max-width: 120px;
                height: 80px;
            }

        }

        @media (min-width: breakpoint(desktop)) {
            grid-auto-flow: column;
        }
      }
    &:hover{
        span{
            color: color(lochmara-blue)
        }
    }
    
    .headLine{
        font-size: font-size(fs-18);
        margin: 0;
    }
    h3{
        margin:0
    }
}