
@import "../../../styles/settings/_settings";

.mediumStoryWrapper{
    @include section-margin-bottom;

    @include grid(48px) {
        grid-template-columns: 6fr 6fr;
        @media (min-width: breakpoint(tablet)) {
          gap: 32px;
          max-width: 1080px;
          // grid-template-columns: 5fr 7fr;

        }

        @media (min-width: breakpoint(desktop)) {
          gap: 30px;
          grid-auto-flow: column;
          // grid-template-columns: 3fr 9fr;
          max-width: 1280px;
        }
      }
}